apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: lumaclusters.luma.db
spec:
  group: luma.db
  names:
    kind: LumaCluster
    listKind: LumaClusterList
    plural: lumaclusters
    singular: lumacluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              replicas:
                type: integer
                minimum: 1
              image:
                type: string
              storageSize:
                type: string
          status:
            type: object
            properties:
              activeNodes:
                type: integer
              phase:
                type: string
